services:
  db:
    image: postgres:16-alpine
    container_name: sppg-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: sppg_inventory
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
